.footer{
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 40px 40px 40px;
    justify-content: space-between;
    .footer-contact{
        h1{
            color:white
        }
        .contact-info{
            h3{
                color:white;
            }
        }
    }
    .footer-about{
        h1{
            color:white
        }
        .about-info{
            h3{
                color:white;
            }
        }
        margin-right: 10px;
    }
    .social-contact{
        h1{
            color: white;
        }
        img{
            width: 30px;
            height: auto;
            margin-right: 10px;
        }
    }
}
@media only screen and (max-width : 800px){
    .footer{
        flex-direction: column;
    }
}