.footer{
    background-color: #b31c25;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 40px 40px 40px;
    justify-content: space-between;
    .footer-contact{
        h1{
            color:white
        }
        .contact-info{
            h3{
                color:white;
            }
        }
    }
    .footer-about{
        h1{
            color:white;
        }
        .about-info{
            display: flex;
            flex-direction: column;
            div{
                display: flex;
                flex-direction: row;
                p{
                    color:white;
                    margin-right: 20px;
                }
                p:nth-child(1){
                    width: 15%;
                }
                p:nth-child(2){
                    width: 65%;
                }
                p:nth-child(3){
                    width: 20%;
                }
            }

        }
        margin-right: 10px;
    }
    .social-contact{
        h1{
            color: white;
        }
        img{
            width: 30px;
            height: auto;
            margin-right: 10px;
        }
    }
}
@media only screen and (max-width : 800px){
    .footer{
        flex-direction: column;
    }
}